@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
 padding: 0 !important;}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0B1120; 
    --compare-bg: #fafafa;
    --card: #f4f4f4;
    --card-foreground: #d1d5db8f;
    --primary: #001886;
    --text: #000000;
    --primary-foreground: #ebf5ff;
    --secondary: #4b5563;
    --secondary-foreground: #a4cafe;
    --input: #6b7280;
    --success: #31c48d;
    --choose: #e5e7eb;
    --danger: #f05252;
    --shadow: #6f6f6f40;
    --rate: #fcba42;
    --check: #1c64f2;
    --popup: #1119288f;
    --border: #d1d5db;
    --border-g1: #3f52b4;
    --border-g2: #b22459;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
     --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
     --chart-1: #4f46e5; 
  --chart-2: #16a34a; 
  --chart-3: #f59e0b; 
  --chart-4: #ef4444; 
  --chart-5: #06b6d4;
  --color-electronics: #4f46e5;  
  --color-accessories: #f59e0b;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
     --sidebar:  #0B1120;
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.439 0 0);
      --chart-1: hsl(220 70% 50%); 
    --chart-2: hsl(160 60% 45%);  
    --chart-3: hsl(30 80% 55%);  
    --chart-4: hsl(280 65% 60%);  
    --chart-5: hsl(340 75% 55%);  
  }
}
@layer utilities {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 640px) {
    .container {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 75rem;
      margin-inline: auto;
    }
  }
}


text {
  @apply fill-gray-700 dark:fill-white;
}
html, body {
  scrollbar-width: none; 
  -ms-overflow-style: none;  
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
